# macOS
.DS_Store

# Xcode
build/
*.derivedData
*.hmap
*.ipa
*.o

# Xcode User Data (Tus preferencias personales de ventanas, etc.)
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/


# Secrets
Config.plist

# Python
venv/
__pycache__/
*.pyc
*.mlpackage
venv/
*.mlpackage
venv/
.DS_Store
